#pageWrapper{
	font:14px/1.4 'PT Sans Narrow', sans-serif;
	width: 1100px;
  	height: 1000px;
	background-color: #FFF;	
}

#header{
	height: 127px;
	width: 990px;
}

#logo{
	position: relative;
	top: 20px;
	left: -270px;
	width: 175px;
	height: 175px;

}

#searchBar{
	position: relative;
	left: 650px;
	top: -160px;
	width: 300px;
}

#menuLinks{
	position: relative;
	font: bold 14px/14px sans-serif;
	left:550px;
	top:-180px;
}

#websiteSlogan{
	position: relative;
	left:240px;
	top:-100px;
	font-family: "algerian";
	font-size: 25px;
	width: 400px;
	height: 40px;
}
#bigPicture{
	position: relative;
	top: 150px;
}
#notification{
	position: relative;
	z-index: 10;
	left:950px;
	text-align: left;
	top: -300px;
}

#pictureMenu div{
	display: inline;
	position: relative;
	left:150px;
	top:-50px;
}
#picMenuText{
	position: relative;
	left:180px;
	top:-50px;
}
#pic2{
	position: absolute;
	top:-50px;
}
#pic3{
	height: 300px
}

